<div class="nav">
  <div class="container">
    <div class="media">
      <div class="media-left media-middle">
        {{#link-to "application"}}<img src="assets/images/logo.png" >{{/link-to}}
      </div>
      <div class="media-body media-middle">
        {{input value=search class="form-control" placeholder="Start Hunting…"}}
      </div>
      <div class="media-right media-middle">
        <button {{action "signOut"}}>Sign out</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="beer">
    {{#each model.beers as |beer|}}
      {{#link-to "hunts" (query-params beer=beer.id user=session.currentUser.uid )}}
        <div class="beer-card">
          <div class="media">
            <div class="media-left media-middle beer-card-image">
              <img src="assets/images/beer.png" >
            </div>
            <div class="media-body media-middle">
              <p class="beer-card-name">{{beer.brewer}} {{beer.name}}</p>
              <p class="beer-card-abv"><span>{{beer.type}}</span> {{beer.abv}}% ABV</p>
              <p class="beer-card-location">{{beer.city}}, {{beer.country}}</p>
            </div>
          </div>
        </div>
      {{/link-to}}
    {{/each}}
  </div>

  <div class="null null-left">
    <div class="row">
      <div class="col-md-6">
        <h4 class="null-title">Well Done {{session.currentUser.displayName}}!</h4>
        <p class="null-text">Looks like your beer is not yet in the system. You Should add it!</p>
        <a type="button" class="null-btn" data-toggle="modal" data-target="#beerModal">
          Add your beer
        </a>
      </div>
      <div class="col-md-6">
        <img class="null-img" src="assets/images/beer_null.png" >
      </div>
    </div>
  </div>

  <div class="modal fade" id="beerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New Beer</h4>
        </div>
        <div class="modal-body">
          {{input value=name placeholder="Name" class="form-control"}}
          {{input value=brewer placeholder="Brewer" class="form-control"}}
          {{input value=type placeholder="Type" class="form-control"}}
          {{input value=abv placeholder="ABV" class="form-control"}}
          {{input value=city placeholder="City" class="form-control"}}
          {{input value=country placeholder="Country" class="form-control"}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button {{action "publishBeer"}}>Add Beer</button>
        </div>
      </div>
    </div>
  </div>
</div>
