<div class="container">
  <div class="hunt">
    {{#each model.hunts as |hunt|}}
      {{#if (eq hunt.user session.currentUser.uid)}}
      <div class="hunt-card">
        <div class="media">
          <div class="media-left media-middle hunt-card-image">
            <img src="assets/images/beer.png" >
          </div>
          <div class="media-body media-middle">
            <p class="hunt-card-name">{{hunt.beer.brewer}} {{hunt.beer.name}}</p>
            <p class="hunt-card-rating">
              <img src="assets/images/vote_{{hunt.rate}}.png" >
              {{#if (eq hunt.rate 1)}} You enjoyed this beer.{{/if}}
              {{#if (eq hunt.rate 2)}} You did not enjoy this beer.{{/if}}
            </p>
            <p class="hunt-card-abv">{{hunt.beer.abv}}% ABV</p>
          </div>
        </div>
      </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="beer">
    {{#each model.beers as |beer|}}
      {{#link-to "hunts" (query-params beer=beer.id user=session.currentUser.uid )}}
        <div>{{beer.name}}</div>
        <div>{{beer.brewer}}</div>
        <div>{{beer.type}}</div>
        <div>{{beer.abv}}</div>
        <div>{{beer.city}}</div>
        <div>{{beer.country}}</div>
      {{/link-to}}<br />
    {{/each}}
  </div>
  <h2>New Beer</h2>
  {{input value=name placeholder="Name"}}
  {{input value=brewer placeholder="Brewer"}}
  {{input value=type placeholder="Type"}}
  {{input value=abv placeholder="ABV"}}
  {{input value=city placeholder="City"}}
  {{input value=country placeholder="Country"}}
  <button {{action "publishBeer"}}>Add Beer</button>
</div>
