<div class="container">
  <h2>New Hunt</h2>
  {{#link-to "hunts" (query-params beer=beer user=user rate=1 )}}1{{/link-to}}
  {{#link-to "hunts" (query-params beer=beer user=user rate=2 )}}2{{/link-to}}
  {{textarea value=note cols="80" rows="6"}}
  <button {{action "huntBeer"}}>Hunt Beer</button>
  <div class="beer">
    {{#each model as |hunt|}}
      {{#if (eq hunt.user session.currentUser.uid)}}
        <div class="beer-card">
          <div class="media">
            <div class="media-left media-middle beer-card-image">
              <img src="assets/images/beer_hunted.png" >
            </div>
            <div class="media-body media-middle">
              <p class="beer-card-name">{{hunt.beer.brewer}} {{hunt.beer.name}}</p>
              <p class="beer-card-abv"><span>{{hunt.beer.type}}</span> {{hunt.beer.abv}}% ABV</p>
              <p class="beer-card-location">{{hunt.beer.city}}, {{hunt.beer.country}}</p>
            </div>
            <div class="media-right">
              <p class="beer-card-rating">
                {{#if (eq hunt.rate 1)}} You enjoyed this beer.{{/if}}
                {{#if (eq hunt.rate 2)}} You did not enjoy this beer.{{/if}}
                <img src="assets/images/vote_{{hunt.rate}}.png" >
              </p>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
