<h2>New Hunt</h2>
{{#link-to "hunts" (query-params beer=beer user=user rate=1 )}}1{{/link-to}}
{{#link-to "hunts" (query-params beer=beer user=user rate=2 )}}2{{/link-to}}
{{textarea value=note cols="80" rows="6"}}
<button {{action "huntBeer"}}>Hunt Beer</button>
<section>
{{#each model as |hunt|}}
  <div>{{hunt.user}}</div>
  <div>{{hunt.beer}}</div>
  <div>{{hunt.rate}}</div>
  <div>{{hunt.note}}</div><br />
{{/each}}
</section>
